<h1>Restaurant </h1>

<div class="jumbotron">
  <h1 class="display-3">Welcome to the world best cuisines</h1>
  <p class="lead">Please stay</p>
  <p class="lead">
    <div class="btn-group" role="group" aria-label="Basic example">
    	<%= link_to"Menu", '/menu' ,class: 'btn btn-secondary' %>
    	<%= link_to"Contact Us", contact_us_path,class: 'btn btn-secondary' %>  
	</div>

  </p>
</div>
